In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2022-02-02 00:49:52,-53.1500,-70.9167,48.31,61,40,13.80
1,1,Ushuaia,AR,2022-02-02 00:45:42,-54.8000,-68.3000,42.46,75,40,41.43
2,2,Dikson,RU,2022-02-02 00:49:53,73.5069,80.5464,2.43,94,100,16.96
3,3,Rikitea,PF,2022-02-02 00:49:53,-23.1203,-134.9692,78.35,70,72,6.04
4,4,Setermoen,NO,2022-02-02 00:49:53,68.8610,18.3486,-11.24,80,25,9.24

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
 #Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of wind speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Rikitea,PF,2022-02-02 00:49:53,-23.1203,-134.9692,78.35,70,72,6.04
6,6,Arraial Do Cabo,BR,2022-02-02 00:46:37,-22.9661,-42.0278,75.16,100,75,2.30
9,9,Puerto Ayora,EC,2022-02-02 00:49:54,-0.7393,-90.3518,75.54,95,100,1.99
10,10,Hilo,US,2022-02-02 00:49:54,19.7297,-155.0900,76.24,83,38,3.00
14,14,Manokwari,ID,2022-02-02 00:49:55,-0.8667,134.0833,81.48,71,100,3.62
19,19,Meulaboh,ID,2022-02-02 00:49:56,4.1363,96.1285,76.35,86,60,4.74
20,20,Saint-Joseph,RE,2022-02-02 00:49:56,-21.3667,55.6167,80.96,92,100,23.78
21,21,Auki,SB,2022-02-02 00:49:57,-8.7676,160.7034,83.10,80,69,6.91
23,23,Port Elizabeth,ZA,2022-02-02 00:49:58,-33.9180,25.5701,75.49,83,0,2.30
24,24,Itanhem,BR,2022-02-02 00:49:58,-17.1664,-40.3300,75.07,87,89,3.87

In [22]:
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3           Rikitea      PF     78.35 -23.1203 -134.9692
6   Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
9      Puerto Ayora      EC     75.54  -0.7393  -90.3518
10             Hilo      US     76.24  19.7297 -155.0900
14        Manokwari      ID     81.48  -0.8667  134.0833
19         Meulaboh      ID     76.35   4.1363   96.1285
20     Saint-Joseph      RE     80.96 -21.3667   55.6167
21             Auki      SB     83.10  -8.7676  160.7034
23   Port Elizabeth      ZA     75.49 -33.9180   25.5701
24          Itanhem      BR     75.07 -17.1664  -40.3300

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Rikitea,PF,78.35,-23.1203,-134.9692,People ThankYou
6,Arraial Do Cabo,BR,75.16,-22.9661,-42.0278,Pousada Porto Praia
9,Puerto Ayora,EC,75.54,-0.7393,-90.3518,Finch Bay Galapagos Hotel
10,Hilo,US,76.24,19.7297,-155.0900,Hilo Hawaiian Hotel
14,Manokwari,ID,81.48,-0.8667,134.0833,Swiss Belhotel Manokwari
19,Meulaboh,ID,76.35,4.1363,96.1285,Kost Pria
20,Saint-Joseph,RE,80.96,-21.3667,55.6167,"""Plantation Bed and Breakfast"
21,Auki,SB,83.10,-8.7676,160.7034,Auki Motel
23,Port Elizabeth,ZA,75.49,-33.9180,25.5701,39 On Nile Guest House
24,Itanhem,BR,75.07,-17.1664,-40.3300,Hotel Resende

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
#Add a heatmap of temperature for vacation spots and a pop-up marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))