In [14]:
# Deliverable 2
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [15]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ca Mau,VN,9.1769,105.1500,88.47,50,35,17.94,scattered clouds
1,1,Along,IN,28.1667,94.7667,59.45,60,35,1.68,scattered clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.08,74,100,18.41,overcast clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,42.46,70,75,18.41,broken clouds
4,4,Chuy,UY,-33.6971,-53.4616,72.16,94,100,7.54,light rain

In [16]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ca Mau,VN,9.1769,105.1500,88.47,50,35,17.94,scattered clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.08,74,100,18.41,overcast clouds
10,10,Soe,ID,-9.8607,124.2840,80.31,59,77,8.48,broken clouds
26,26,Eldorado,BR,-23.7869,-54.2836,76.08,98,100,6.93,overcast clouds
27,27,Esperance,AU,-33.8667,121.9000,79.16,46,2,9.04,clear sky
...,...,...,...,...,...,...,...,...,...,...
688,688,Port Augusta,AU,-32.5000,137.7667,83.71,29,0,11.18,clear sky
689,689,Buala,SB,-8.1450,159.5921,77.31,89,100,5.61,light rain
699,699,San Andres,CO,12.5847,-81.7006,80.62,74,20,9.22,few clouds
704,704,Chokwe,MZ,-24.5333,32.9833,75.31,78,0,5.06,clear sky
709,709,Jaicos,BR,-7.3592,-41.1378,79.43,54,99,4.52,overcast clouds

In [18]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ca Mau,VN,9.1769,105.1500,88.47,50,35,17.94,scattered clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.08,74,100,18.41,overcast clouds
10,10,Soe,ID,-9.8607,124.2840,80.31,59,77,8.48,broken clouds
26,26,Eldorado,BR,-23.7869,-54.2836,76.08,98,100,6.93,overcast clouds
27,27,Esperance,AU,-33.8667,121.9000,79.16,46,2,9.04,clear sky
...,...,...,...,...,...,...,...,...,...,...
688,688,Port Augusta,AU,-32.5000,137.7667,83.71,29,0,11.18,clear sky
689,689,Buala,SB,-8.1450,159.5921,77.31,89,100,5.61,light rain
699,699,San Andres,CO,12.5847,-81.7006,80.62,74,20,9.22,few clouds
704,704,Chokwe,MZ,-24.5333,32.9833,75.31,78,0,5.06,clear sky
709,709,Jaicos,BR,-7.3592,-41.1378,79.43,54,99,4.52,overcast clouds

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ca Mau,VN,88.47,scattered clouds,9.1769,105.1500,
2,Rikitea,PF,78.08,overcast clouds,-23.1203,-134.9692,
10,Soe,ID,80.31,broken clouds,-9.8607,124.2840,
26,Eldorado,BR,76.08,overcast clouds,-23.7869,-54.2836,
27,Esperance,AU,79.16,clear sky,-33.8667,121.9000,
...,...,...,...,...,...,...,...
688,Port Augusta,AU,83.71,clear sky,-32.5000,137.7667,
689,Buala,SB,77.31,light rain,-8.1450,159.5921,
699,San Andres,CO,80.62,few clouds,12.5847,-81.7006,
704,Chokwe,MZ,75.31,clear sky,-24.5333,32.9833,
709,Jaicos,BR,79.43,overcast clouds,-7.3592,-41.1378,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [22]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ca Mau,VN,88.47,scattered clouds,9.1769,105.1500,Khách Sạn Mường Thanh Luxury Cà Mau
2,Rikitea,PF,78.08,overcast clouds,-23.1203,-134.9692,People ThankYou
10,Soe,ID,80.31,broken clouds,-9.8607,124.2840,Dena Hotel
26,Eldorado,BR,76.08,overcast clouds,-23.7869,-54.2836,Villa Verde Hotel
27,Esperance,AU,79.16,clear sky,-33.8667,121.9000,Hospitality Esperance
...,...,...,...,...,...,...,...
688,Port Augusta,AU,83.71,clear sky,-32.5000,137.7667,Majestic Oasis Apartments
689,Buala,SB,77.31,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
699,San Andres,CO,80.62,few clouds,12.5847,-81.7006,Hotel Arena Blanca
704,Chokwe,MZ,75.31,clear sky,-24.5333,32.9833,Complexo Sonho Real
709,Jaicos,BR,79.43,overcast clouds,-7.3592,-41.1378,Hotel Jaicós

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "../World_Weather_Analysis/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))